---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "fonts";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

* { box-sizing: border-box; }

html {
  font-size: 150%;
  font-family: 'Futura', Helvetica, Bold;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0 auto;
	color: $gray;
}


// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: black;
  background: $lightGray;
}
::selection {
  color: black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.row, .border-colors {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  // max-width: 1400px;
}
.color {
  height: 5px;
  display: block;
  background-color: #ad1c23;
  width: 100%;
}

.bg_red { background-color: $palette-color-1} .bg_orange {background-color: $palette-color-2} .bg_yellow {background-color: $palette-color-3} .bg_light_green {background-color: $palette-color-4} .bg_light_blue {background-color: $palette-color-5} .bg_fuchsia {background-color: $palette-color-6}
.col-xs-2 {
  float: left;
  width: 16.66666667%;
  position: relative;
  min-height: 1px;
}

.wrapper-masthead {
  height: $header-height;
  // max-width: $max-width;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 200;
  background-color: rgba(255,255,255,0.9);
  @media screen and (max-device-width: 640px) {
    height: $header-height*1.75;
    position: absolute;
  }
}
.masthead {
  padding-left: $side-margin;
  padding-right: $side-margin;
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: $avatar-width;
  height: $avatar-width;
  margin-right: 15px;
  margin-top: $header-height/2 - $avatar-width/2;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }

  // @media screen and (min-device-width: $min-device-width)
  // {
  //   width: 50px;
  //   height: 50px;
  // }
  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.site-info {
  display: table;
  float: left;
  height: $avatar-width;
  margin-top: $header-height/2 - $avatar-width/2;

  .info-container {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
    @include mobile {
      display: block;
    }
  }
  // @media (min-device-width: 1400px)
  // {
  //   height: 50px;
  // }
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  text-transform: uppercase;
  margin: 0;
  @include mobile {
      margin-top: 5px;
  }
  color: $gray;
  cursor: pointer;
  a {
    color: inherit;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 27px;
    text-decoration: none;
    // @media (min-device-width:1400px){
    //   font-size: 30px;
    // }
    @include mobile {
      font-size: 20px;
    }
  }
}

.site-description {
  color: $gray;
  font-size: 13px;
  margin: 0;
  // @media (min-device-width:1400px){
  //   font-size: 17px;
  // }

  @include mobile {
    font-size: 12px;
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: $header-height/2 - $nav-image-width/2;
  @include mobile {
    margin-right: 0;
    margin-bottom: 30px;
    float: none;
    margin-top: 9px;
    display: block;
  }
  // @media (min-device-width: 1400px)
  // {
  //   margin-top: $mobile-header-height/2 - $mobile-nav-image-width/2;
  // }

  img {
    width: $nav-image-width;
    height: auto;
    // @media (min-device-width: 1400px)
    // {
    //   width: $nav-image-width;
    // }
  }
  a {
    margin-left: 10px;
    @include mobile {
      margin-right: 10px;
    }

  }
}

#main {
  // max-width: $max-width;
  margin: 0 auto;
}

#content {
 margin-top: $header-height;
 // @media (min-device-width: 1400px)
 // {
 //   margin-top: $header-height*1.5;
 // }

 @include mobile
 {
   margin-top: $header-height*2;
 }
}

@import "post";
@import "article";
@import "highlights";
@import "svg-icons";
