---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "fonts";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

* { box-sizing: border-box; }

html {
  font-size: 150%;
  font-family: 'Futura', Helvetica, Bold;
}

body {
	background: $white;
  // font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.grid {
  margin-left: 10px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 50%;
}

.grid-item {
  float: left;
  padding: 0 10px 10px 0;

}

.grid-item img {
  z-index: 0;
  display: block;
  width: 100%;
}

.grid-item .punchline {
  padding: 100px;
}

.punchline-container {
  width: 100%;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: $palette-color-1;
}

.title-text {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 100;
  color: white;
}

@media all and (max-device-width: 480px)
{
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.border-colors, .color {
  height: 5px;
  display: block;
  background-color: #ad1c23;
}

.bg_red { background-color: $palette-color-1} .bg_orange {background-color: $palette-color-2} .bg_yellow {background-color: $palette-color-3} .bg_light_green {background-color: $palette-color-4} .bg_light_blue {background-color: $palette-color-5} .bg_fuchsia {background-color: $palette-color-6}
.col-xs-2 {
  float: left;
  width: 16.66666667%;
  position: relative;
  min-height: 1px;
}

.masthead {
  padding: 20px 0 25px 0;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  text-transform: uppercase;
  margin: 0;
  color: $gray;
  cursor: pointer;
  font-weight: bold;
  a {
    color: inherit;
    font-size: 3vw;
    text-decoration: none;
  }
}

.site-description {
  color: $gray;
  font-size: 16px;
  margin: 0;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 12px; // @TODO: Vertically middle align
  margin-right: 20px;
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
  }

  img {
    width: 20px;
    height: auto;
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "post";
@import "highlights";
@import "svg-icons";
