.post-article {
  .article-header {
    font-size: 0;

    img {
      width: 100%;
      border-left-width: 12px;
      border-left-style: solid;
      border-left-color: $palette-color-1;
    }

    .title-text {
      margin-left: 4%;
      margin-top: -4%;
      position: relative;
    }

    h1, h2 {
      display: inline-block;
      padding: 0 1% 0 1%;
      line-height: 1.4;
    }

    h1 {
      font-weight: bold;
      font-size: 3vw;
    }

    h2 {
      margin-top: -1px;
      font-weight: lighter;
      font-size: 2vw;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .entry {
    margin-top: 70px;
    margin-bottom: 100px;
    display: block;
    margin-left: $side-margin* 1.5;
    margin-right: $side-margin* 1.5;

    p {
      font-size: 1.8vw;
      font-weight: lighter;
      line-height: 1.5em;
      min-width: 50%;
      margin-bottom: 20px;
      font-family: 'Gotham';
      color: black;
    }

    strong {
      font-family: 'Futura';
      display: block;
      font-size: 2.5vw;
      margin-left: $side-margin;
      margin-top: 40px;
      margin-bottom: 40px;
      color: $gray;
    }

    img {
      max-width: 740px;
      padding-top: 40px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
