.post-article {
  margin: 0 auto;
  margin-left: $side-margin;
  margin-right: $side-margin;

  .article-header {
    margin-left: -$side-margin;
    margin-right: -$side-margin;

    font-size: 0;
    .image-cropper {
      width: 100%;
      position: relative;
      padding-bottom: 35%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-left-width: 12px;
      border-left-style: solid;
      border-left-color: $palette-color-1;
      @include mobile {
        height: 200px;
      }
    }


    .article-title-text {
      display: inline;
      left: $side-margin;
      z-index: 100;
      color: white;
      top: -40px;
      position: relative;
    }

    h1, h2 {
      display: inline-block;
      padding: 0 1% 0 1%;
      line-height: 1.4;
    }

    h1 {
      font-weight: bold;
      font-size: 35px;
      @include mobile {
        font-size: 27px;
      }
    }

    h2 {
      margin-top: -1px;
      font-weight: lighter;
      font-size: 30px;
      color: rgba(255, 255, 255, 0.5);
      @include mobile {
        font-size: 23px;
      }
    }
  }

  .entry {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    display: block;
    max-width: 770px;

    @include mobile {
      margin-bottom: 50px;
      margin-top: 35px;
    }

    p, ul, ol, strong {
      font-size: 18px;
      font-weight: lighter;
      line-height: 1.5em;
      min-width: 50%;
      margin-bottom: 10px;
      font-family: 'Gotham';
      color: black;
      @include mobile {
        font-size: 17px;
        margin-bottom: 5px;
      }
    }
    strong {
      font-weight: bold;
    }
    ul {
      list-style: circle;
      margin-left: $side-margin;
    }
    ol {
      list-style: decimal;
      margin-left: $side-margin;
    }

    h2, h3 {
      font-family: 'Futura';
      display: block;
      margin-left: $side-margin;
      margin-top: 30px;
      margin-bottom: 20px;
      color: $gray;
      @include mobile {
        font-size: 21px;
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: $side-margin/2;
      }
    }
    h2 {
      font-size: 27px;
    }
    h3 {
      font-size: 23px;
    }

    img, iframe {
      width: 100%;
      // max-width: 740px;
      padding-top: 20px;
      // padding-bottom: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      @include mobile {
        padding-top: 10px;
        // padding-bottom: 10px;
      }
    }

    blockquote {
      font-style: italic;
      margin-left: $side-margin;
    }
  }
  .date {
    font-weight: lighter;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: $side-margin;
  }
}
