.grid {
  margin-left: $side-margin;
  margin-right: $side-margin - $grid-item-padding;
  @include mobile {
    margin-left: $side-margin*0.25;
    margin-right: $side-margin*0.25 - $grid-item-padding;
  }

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333333%;
  @media all and (max-device-width: 640px)
  {
    width: 100%;
  }
  @media (min-device-width: 640px) and (max-device-width: 1400px)
  {
    width: 50%;
  }
}

.grid-item {
  float: left;
  padding: 0 $grid-item-padding $grid-item-padding 0;

}

.grid-item img {
  z-index: 0;
  display: block;
  width: 100%;
}

.grid-item .punchline {
  padding: 100px;
}

.punchline-container {
  width: 100%;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: $palette-color-1;
}

.punchline-text {
  font-weight: bold;
  font-size: 2.5vw;
}

.title-text {
  position: absolute;
  left: 20px;
  top: 14px;
  z-index: 100;
  color: white;
}

img {
  max-width: 100%;
}

.post {
  img {
     border-left-width: 6px;
     border-left-style: solid;
     border-left-color: $palette-color-1;
   }

  .title-text {
      font-size: 0;
      font-weight: normal;
  }

  .title, .subtitle {
    display: inline-block;
    padding: 0 5px 0 5px;
    line-height: 1.4;
  }

  .title {
    font-family: 'Futura';
    font-weight: bold;
    font-size: 2.8vw;
    background-color: $palette-bg-color-1;
    @media (min-device-width: 1400px)
    {
      font-size: 16px;
    }
  }

  .subtitle {
    font-family: 'Futura';
    font-weight: lighter;
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.5);
    background-color: $palette-bg-color-1;
    @media (min-device-width: 1400px)
    {
      font-size: 12px;
  }
}
