---
layout: page
---

<article class="post-article">
  <div class="article-header">
    <div class="image-cropper" style="border-left-color: rgb({{page.color.r}},{{page.color.g}},{{page.color.b}});
      background-image: url('{{ page.preview }}')">
    </div>
    <div class="article-title-text">
      <h1 style="background-color: rgb({{page.color.r}},{{page.color.g}},{{page.color.b}});">{{ page.title }}</h1>
      </br>
      <h2 style="background-color: rgb({{page.color.r}},{{page.color.g}},{{page.color.b}});">{{ page.subtitle }}</h1>
    </div>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  {% include disqus.html %}
</article>
